{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/result-style.css" %}">
</head>
<body>
    
    <div class="main-content">
        {% if done %}
            {{ done }}
        {% endif %}
        <div class="main d-block">
            <div class="btn">
                <form method="post" action="/index/">
                    {% csrf_token %}
                    <div class="btn">
                        <button type="submit" id="index" style="width: 200px">index</button>
                    </div>
                </form>

                <form method="post" action="/stopword/">
                    {% csrf_token %}
                    <div class="btn">
                        <button type="submit" id="stopWord" style="width: 200px">Create Stop Words</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
